#aboutUsBlock {
    width: 100%;
    height: 600px;
    background-color: #140828;
    position: relative;
    z-index: 2;
}

#aboutUsBlockContain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    
}

.aboutUsBlockContentAbsolutedCircles {
    width: 10px;
    height: 10px;
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background-color: #474A97;
}

.aboutUsBlockContentAbsolutedCircles:nth-child(1) {
    top: 100px;
    left: 850px;
}

.aboutUsBlockContentAbsolutedCircles:nth-child(2) {
    top: 50px;
    left: 150px;
}

.aboutUsBlockContentAbsolutedCircles:nth-child(3) {
    top: 300px;
    left: 450px;
}

.aboutUsBlockContentAbsolutedCircles:nth-child(4) {
    background: linear-gradient(90.9deg, rgba(56, 80, 152, 0.25) 1.39%, rgba(133, 56, 152, 0.25) 175.35%);
    /* linear-gradient(90deg, rgba(133, 56, 152, 0.15) 4.36%, rgba(56, 80, 152, 0.15) 95.42%); */
    width: 500px;
    height: 500px;
    right: 0;
    bottom: -100px;
    z-index: 0 !important;
}

.aboutUsBlockContentAbsolutedCircles:nth-child(5) {
    background: linear-gradient(90.93deg, rgba(56, 80, 152, 0.3) 0.73%, rgba(133, 56, 152, 0.3) 92.13%);    /* linear-gradient(90deg, rgba(133, 56, 152, 0.15) 4.36%, rgba(56, 80, 152, 0.15) 95.42%); */
    width: 150px;
    height: 150px;
    right: -50px;
    top: 0px;
    z-index: 0 !important;
}

.aboutUsBlockContainAbsolutedCircles {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(90.93deg, rgba(56, 80, 152, 0.3) 1.39%, rgba(133, 56, 152, 0.3) 175.35%);
}

.aboutUsBlockContainAbsolutedCircles:nth-child(1) {
    width: 400px;
    height: 400px;
    z-index: 1;
    top: -100px;
    left: -200px;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(2) {
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 0px;
    left: 50px;
    background-color: #474A97;
}
.aboutUsBlockContainAbsolutedCircles:nth-child(3) {
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 300px;
    left: 100px;
    background-color: #474A97;
}
.aboutUsBlockContainAbsolutedCircles:nth-child(4) {
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 500px;
    left: 320px;
    background-color: #474A97;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(5) {
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 50px;
    right: 20px;
    background-color: #474A97;
}
.aboutUsBlockContainAbsolutedCircles:nth-child(6) {
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 250px;
    right: 200px;
    background-color: #474A97;
}
.aboutUsBlockContainAbsolutedCircles:nth-child(7) {
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 550px;
    right: 60px;
    background-color: #474A97;
}

div#aboutUsBlockContain::after {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #140828;
    transform: skewY(7deg);
    /* transform-origin: top right; */
}


#aboutUsBlockContent {
    z-index: 1;
    height: 100%;
    margin: 0 auto;
    width: 70%;
    max-width: 1100px;
    min-width: 850px;
    /* background-color: khaki; */
    position: relative;
    
}

#aboutUsBlockContent .blockLogo{
    margin: 0 auto;
    margin-bottom: 50px;
}

#aboutUsBlock:hover .blockLogo #firstUnderline{
    margin-left: 0;
    width: 100%;
    transition: .3s;
}

#aboutUsBlock:hover .blockLogo #secondUnderline{
    margin-left: 20%;
    width: 60%;
    transition: .3s;
}

.absoluted {
    position: absolute;
    background-color: #1B1030;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

#aboutApproach {
    width: 150px;
    height: 150px;
    top: 100px;
    right: 300px;
}

#aboutMethod {
    width: 200px;
    height: 200px;
    top: 90px;
    right: 20px;
}

#aboutIT {
    width: 250px;
    height: 250px;
    top: 270px;
    right: 200px;
}

#aboutFuture {
    width: 150px;
    height: 150px;
    top: 500px;
    right: 400px;
}

#aboutFormat {
    width: 150px;
    height: 150px;
    top: 470px;
    right: 30px;
}

#aboutText {
    /* background-color: red; */
    width: 350px;
    height: max-content;
    position: absolute;
    top: 100px;
    left: 20px;
    transition: .3s;
}

#aboutText p#aboutTextPlace {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 26px;
}

#aboutText h1{
    /* padding-right: 25px; */
    color: #853898;
    font-family: 'Amatic SC', cursive;
    /* text-decoration: underline; */
    font-size: 48px;
    margin-top: 0;
    margin: 0;
    padding-top: 0;
}

#aboutText p{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.centeredAboutIcon {
    color: #7C75A6;
    font-size: 64px;
    z-index: 1;
}

#centeredAboutMainIcon {
    font-size: 100px;
}

.aboutIconHint {
    position: absolute;
    bottom: -10px;
    left: auto;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 27px;
    margin: 0;
    z-index: 1;
}

#aboutAtom {
    font-size: 85px;
}

.absolutedPlaceholder {
    transition: .5s;
    background-color: #322163;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    z-index: 0;
}

span.veryImportantWord {
    color: violet;
}

#about-us-mobile-block {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(8) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(9) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(10) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(11) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(12) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(13) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(14) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(15) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(16) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(17) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(18) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(19) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(20) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(21) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(22) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(23) {
    display: none;
}

.aboutUsBlockContainAbsolutedCircles:nth-child(24) {
    display: none;
}


@media screen and (max-width: 1100px) {

    .aboutUsBlockContainAbsolutedCircles:nth-child(1) {
        left: 270px;
        top: -20px;
        width: 75px;
        height: 75px;
        z-index: -1;
        background: linear-gradient(90deg, rgba(133, 56, 152, 0.25) 4.36%, rgba(56, 80, 152, 0.25) 95.42%);
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(2) {
        left: 50px;
        top: 100px;
        z-index: -1;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(3) {
        left: 300px;
        top: 200px;
        z-index: -1;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(4) {
        left: 150px;
        top: 370px;
        z-index: -1;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(5) {
        left: 20px;
        top: 590px;
        z-index: -1;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(6) {
        left: 320px;
        top: 700px;
        z-index: -1;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(7) {
        left: 150px;
        top: 790px;
        z-index: -1;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(8) {
        left: 50px;
        top: 1100px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(9) {
        left: 250px;
        top: 1250px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(10) {
        left: 100px;
        top: 1450px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(11) {
        left: 280px;
        bottom: -30px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(12) {
        left: 80px;
        bottom: 30px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(13) {
        left: -200px;
        bottom: 100px;
        z-index: -1;
        width: 100px;
        height: 100px;
        display: block;
        background: linear-gradient(90deg, rgba(133, 56, 152, 0.25) 4.36%, rgba(56, 80, 152, 0.25) 95.42%);
    }
    
    .aboutUsBlockContainAbsolutedCircles:nth-child(14) {
        right: -250px;
        bottom: 300px;
        z-index: -1;
        width: 150px;
        height: 150px;
        display: block;
        background: linear-gradient(90deg, rgba(133, 56, 152, 0.25) 4.36%, rgba(56, 80, 152, 0.25) 95.42%);
    }
    
    .aboutUsBlockContainAbsolutedCircles:nth-child(15) {
        left: -220px;
        bottom: 550px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }
    
    .aboutUsBlockContainAbsolutedCircles:nth-child(16) {
        left: -170px;
        bottom: 1150px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }
    
    .aboutUsBlockContainAbsolutedCircles:nth-child(17) {
        right: -200px;
        bottom: 900px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }
    
    .aboutUsBlockContainAbsolutedCircles:nth-child(18) {
        right: -250px;
        bottom: -50px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(19) {
        right: -250px;
        bottom: 1300px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(20) {
        right: -200px;
        bottom: 1600px;
        z-index: -1;
        width: 75px;
        height: 75px;
        display: block;
        background: linear-gradient(90deg, rgba(133, 56, 152, 0.25) 4.36%, rgba(56, 80, 152, 0.25) 95.42%);
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(21) {
        left: -200px;
        bottom: 2250px;
        z-index: -1;
        width: 100px;
        height: 100px;
        display: block;
        background: linear-gradient(90deg, rgba(133, 56, 152, 0.25) 4.36%, rgba(56, 80, 152, 0.25) 95.42%);
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(22) {
        right: -100px;
        bottom: 2200px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(23) {
        right: -250px;
        bottom: 2700px;
        z-index: -1;
        width: 10px;
        height: 10px;
        display: block;
        background-color: #474A97;
    }

    .aboutUsBlockContainAbsolutedCircles:nth-child(24) {
        left: -350px;
        bottom: 2900px;
        z-index: -1;
        width: 150px;
        height: 150px;
        display: block;
        background: linear-gradient(90deg, rgba(133, 56, 152, 0.25) 4.36%, rgba(56, 80, 152, 0.25) 95.42%);
    }

    

    #about-us-mobile-block-list {
        position: relative;
    }

    span.veryImportantWord {
        color: cornflowerblue;
    }

    #about-us-mobile-block::after {
        display: none;
    }

    #about-us-mobile-block .blockLogo {
        margin: auto;
        margin-bottom: 20px;
        width: max-content;
    }
    
    #about-us-mobile-block:hover .blockLogo #firstUnderline{
        margin-left: 0;
        width: 100%;
        transition: .3s;
    }
    
    #about-us-mobile-block:hover .blockLogo #secondUnderline{
        margin-left: 20%;
        width: 60%;
        transition: .3s;
    }

    #about-us-mobile-block {
        display: block;
        width: 360px;
        margin: auto;
        padding-bottom: 100px;
    }

    #aboutUsBlock {
        display: none;
    }

    .about-us-mobile-block-item {
        display: grid;
        grid-template-columns: 100px 260px;
        font-family: 'Amatic SC', cursive;
        margin-bottom: 40px;
    }

    .about-us-mobile-block-item-icon div {
        width: 80px;
        height: 80px;
        background-color: #1B1030;
        border-radius: 50%;
    }

    .about-us-mobile-block-item-icon div i {
        color: #7C75A6;
        position: relative;
    }

    #about-us-first-icon {
        font-size: 40px;
        left: 15px;
        top: 18px;
    }

    #about-us-second-icon {
        font-size: 40px;
        left: 20px;
        top: 20px;
    }

    #about-us-third-icon {
        font-size: 40px;
        left: 16px;
        top: 20px;
    }

    #about-us-fourth-icon {
        font-size: 40px;
        left: 20px;
        top: 20px;
    }


    #about-us-fifth-icon {
        font-size: 38px;
        left: 16px;
        top: 20px;
    }


    .about-us-mobile-block-item-body-title {
        color: #385098;
        font-size: 26px;
        margin-bottom: 12px;
        margin-top: -5px;
        }

    .about-us-mobile-block-item-body-text {
        font-size: 20px;
        color: white;
    }

}