body {
    margin: 0;
    padding: 0;
    background-color: #140828;
}

#main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
}

.blockLogo {
    width: max-content;
    height: max-content;
}

.blockLogo h1 {
    margin: 0;
    padding: 0;
    color: #853898;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
}

.blockLogo #firstUnderline {
    width: 0;
    height: 3px;
    margin-left: 50%;
    background-color: #853898;
    margin-top: 8px;
    transition-delay: .2s !important;
    transition: .3s;
}

.blockLogo #secondUnderline{
    width: 0;
    height: 2px;
    margin-left: 50%;
    background-color: #853898;
    margin-top: 6px;
    transition: .3s;
}

.bodyAbsolutedCircles {
    transition: .7s;
}

/* .blockLogo:hover #firstUnderline {
    margin-left: 0;
    width: 100%;
    transition: .3s;
}
.blockLogo:hover #secondUnderline {
    margin-left: 20%;
    width: 60%;
    transition: .3s;
} */

#screenQuery {
    display: none;
}

/* 
    Он не отобрадается при нормальном разрешении
*/

@media screen and (max-width: 1100px) {
    /* 
        Это запрос на ширину экрана 1100px, если ширина меньше, отсюда
        будут браться стили (работает как if) 
        привожу пример ЕГО ПОТОМ УДАЛИТЬ
        Этот блок лежит в сама начале BODY
        НЕЛЬЗЯ ЕГО ЗАБЫТЬ
    */

/*    div#screenQuery {
        position: fixed;
        background-color: tomato;
        color: white;
        font-family: 'Amatic SC', cursive;
        font-size: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10vh;
        left: calc(50% - 40vh);
        height: 80vh;
        width: 80vh;
        border-radius: 50%;
        z-index: 100;
        transition: .3s;
        cursor: pointer;
    }

    div#screenQuery:hover {
        transition: .3s;
        box-shadow: 0 0 50px tomato;
    }*/
}