#feedback-block-background {
	background-image: url(../assets/feedback_background.png);
	background-size: contain;
	position: relative;
}

#feedback-block {
	width: 800px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	font-family: 'Roboto Slab', serif;
}

#feedback-block-title {
	text-align: center;
	color: #853898;
	font-size: 42px;
}

#feedback-block-subtitle {
	text-align: center;
	color: #853898;
	font-size: 22px;
}

#feedback-block div:last-child {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#feedback-block-input {
	width: 360px;
	padding: 12px;
	border: solid 4px #853898;
	color: #853898;
	margin-right: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

#feedback-block-input:focus {
	outline: none;
}

#feedback-block-submit {
	padding: 10px;
	background: linear-gradient(90deg, rgba(133,56,152,1) 0%, rgba(56,80,152,1) 100%);
	/* border-radius: 30px; */
    color: white;
    font-size: 16px;
    border: 0;
	font-family: 'Roboto Slab', serif;
	position: relative;
}

#feedbackBlockSubmitPlaceholder {
	position: absolute;
	top: calc(-50% - 2px);
	left: 0;
	width: 100%;
	overflow: hidden;
	height: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #140828;
    font-size: 16px;
    border: 0;
	font-family: 'Roboto Slab', serif;
	z-index: 5;
	transition: .3s;
}

#feedbackBlockSubmitPlaceholder p {
	margin: 0;
	min-height: max-content;
}

#feedback-block-submit:hover {
	cursor: pointer;
}

#feedback-block-submit:hover #feedbackBlockSubmitPlaceholder {
	height: 100%;
	z-index: 5;
	transition: .3s;
}

/* .feedbackAbsolutedCircles {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	right: -75px;
	background: linear-gradient(90.88deg, rgba(56, 80, 152, 0.6) 1.39%, rgba(133, 56, 152, 0.6) 175.35%);
} */