#footer-block-background {
	background-color: #C1C4D5;
	background-image: url(../assets/footer_background.png);
	background-size: contain;
}

#footerBlockContent {
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
}

#footer-block {
	width: 800px;
	margin: auto;
	overflow: auto;
}

#footer-block-links  ul {
	list-style: none;
    padding: 0;
    margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
} 

#footer-block-links  ul li a { 
	text-decoration: none;
	color: #140828;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	/* border-bottom: solid 2px #140828; */
	/* font-weight: 100px; */
}

#footer-block-location {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	padding-bottom: 30px;
}

#footer-block-location p {
	margin-bottom: 0;
	font-size: 12px;
	margin-top: 5px;
}

#footerBlockLogo {
    width: 100px;
    height: 50px;
    background-image: url(../img/itmo_dark_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
	margin-left: calc(50% - 50px);
	margin-top: 30px;
}