
#backgroundParallax {
    position: absolute;
    left: -5%;
    bottom: -5%;
    width: 110%;
    height: auto;
    z-index: 0;
}

#backgroundDarker {
    position: absolute;
    z-index: 1;
    background-color: black;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* transition: .3s; */
}

#mainBlock {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    height: max-content;
    min-height: 100vh;
    width: 100%;
    background-color: #140828;
    padding-top: 30px;
    padding-bottom: 30px;
    /* background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position-x: 50%; */
}

#mainBlockLogo {
    width: 100px;
    height: 50px;
    background-image: url(../img/itmo_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: calc(50% - 50px);
    z-index: 1;
}

.navigation {
    position: relative;
    margin-top: 25px;
    /* background-color: blueviolet; */
    height: 80px;
    width: 800px;
    margin-left: calc(50% - 400px);
    z-index: 1;
}

.navigationText {
    width: 200px;
    height: max-content;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-align: center;
    float: left;
    box-sizing: border-box;
    font-size: 24px;
    /* background-color: yellow; */
    /* line-height: 10px; */
}

.navigationIconBlock {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    animation-name: navigationRunner;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* background-color: violet; */
}

.navigationIconBlock:nth-child(5){
    left: 80px;
    bottom: 0;
}
.navigationIconBlock:nth-child(6) {
    left: 280px;
    bottom: 0;
}
.navigationIconBlock:nth-child(7) {
    left: 480px;
    bottom: 0;
}
.navigationIconBlock:nth-child(8) {
    left: 680px;
    bottom: 0;
}

.navigationConnection {
    transition: .3s;
    height: 5px;
    width: 150px;
    background-color: #393E46;
    position: absolute;
}

.navigationConnection:nth-child(9) {
    left: 125px;
    bottom: 17.5px;
}

.navigationConnection:nth-child(10) {
    left: 325px;
    bottom: 17.5px;
}

.navigationConnection:nth-child(11) {
    left: 525px;
    bottom: 17.5px;
}

.navigationIconMainModel {
    transition: .3s;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #393E46;
    position: absolute;
    left: 10px;
    top: 10px;
}

.navigationActive .navigationIconMainModel {
    background-color: #fff;
}

.navigationIconMainRadius {
    width: 32px;
    height: 32px;
    border: 2px white solid;
    border-radius: 30px;
    position: absolute;
    left: 2px;
    top: 2px;
    display: none;
}

.navigationActive .navigationIconMainRadius {
    display: block;
}

.navigationIconMainRadiusRunner {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 3.5px;
    left: 16.5px;
    top: 0;
    display: none;
}

.navigationActive .navigationIconMainRadiusRunner {
    display: block;
}

.navigationIconBlock:hover .navigationIconMainModel{
    transition: .3s;
    background-color: white;
    box-shadow: 0 0 10px white;
}

.navigationIconBlock:hover :not(.navigationActive) .navigationIconMainRadiusRunner{
    display: none;
}

.navigationIconBlock:nth-child(6):hover ~ .navigationConnection:nth-child(9){
    transition: .3s;
    background-color: white;
}

.navigationIconBlock:nth-child(7):hover ~ .navigationConnection:nth-child(10){
    transition: .3s;
    background-color: white;
}

.navigationIconBlock:nth-child(7):hover ~ .navigationConnection:nth-child(9){
    transition: .3s;
    background-color: white;
}

.navigationIconBlock:nth-child(8):hover ~ .navigationConnection{
    transition: .3s;
    background-color: white;
}

#mainBlockMax {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 800px;
    height: max-content;
    margin-left: calc(50% - 400px);
    margin-top: 100px;
    /* background-color: yellowgreen; */
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 64px;
    text-align: center;
}

#mainBlockMiddle {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 800px;
    height: max-content;
    margin-left: calc(50% - 400px);
    /* background-color: yellowgreen; */
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 52px;
    text-align: center;
}

#mainBlockMin {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 800px;
    height: max-content;
    margin-left: calc(50% - 400px);
    /* background-color: yellowgreen; */
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    text-align: center;
}

#mainBlockText {
    position: relative;
    z-index: 1;
    margin: 0;
    width: 800px;
    height: max-content;
    margin-left: calc(50% - 400px);
    margin-top: 25px;
    /* background-color: yellowgreen; */
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    font-size: 22px;
    text-align: center;
    transition: .3s;
}

#mainBlockButton {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 50px;
    margin-top: 100px;
    margin-left: calc(50% - 125px);
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white solid;
    transition: .3s;
    cursor: pointer;
}

#mainBlockButton:hover {
    transition: .3s;
    background-color: white;
    color: #393E46;
}

@keyframes navigationRunner { 
    0% {
        transform: rotateZ(0deg);
    } 
    25% {
        transform: rotateZ(90deg);
    } 
    50% {
        transform: rotateZ(180deg);
    } 
    75% {
        transform: rotateZ(270deg);
    } 
    100% {
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 1100px) {
    /* 
        Это запрос на ширину экрана 1100px, если ширина меньше, отсюда
        будут браться стили (работает как if) 
        привожу пример ЕГО ПОТОМ УДАЛИТЬ
        Этот блок лежит в сама начале BODY
        НЕЛЬЗЯ ЕГО ЗАБЫТЬ
    */

    #mainBlockText {
        margin: auto;
        width: 340px;
        height: max-content;
        margin-top: 50px;
        font-size: 22px;
        text-align: center;
    }

    #mainBlockMax {
        width: 375px;
        margin-top: 320px;
        font-size: 34px;
        margin-left: 0;
    }

    #mainBlockMiddle {
        width: 375px;
        font-size: 28px;
        margin-left: 0;
    }

    #mainBlockMin {
        width: 375px;
        font-size: 22px;
        margin-left: 0;
    }

    #mainBlockLogo {
        position: absolute;
        margin-top: 100px;
        margin-left: calc(375px / 2 - 100px);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: none;
        border: solid 3px #7C75A6;
    }

    #mainBlockLogoMobile {
        width: 80%;
        margin: auto;
        height: 100%;
        background-image: url(../img/itmo_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1;
        margin-top: calc(50% - 35px);
    }

    .navigation {
        height: auto;
        position: relative;
        margin-top: 25px;
        width: 300px;
        margin: auto;
        border-bottom: solid 3px #565160;
        display: grid;
        grid-template-columns: 75px 75px 75px 75px;
    }

    .navigationText {
        width: 100%;
        height: max-content;
        font-family: 'Amatic SC', cursive;
        color: white;
        box-sizing: border-box;
        font-size: 20px;
        margin-bottom: -3px;
        padding-bottom: 12px;
    }

    .navigationTextActive {
        border-bottom: solid 3px #7C75A6;
    }
}    

    .navigationIconBlock {
        display: none;
    }

    .navigationConnection {
        display: none;
    }
}